<?xml version="1.0" encoding="UTF-8"?> 
<!-- Simulated Hex+delta arm -->
<launch>

  <!-- <include file="$(find delta_manipulator)/launch/Vicon.launch" /> -->
  <include file="$(find mocap_vicon)/launch/vicon.launch" />
  <rosparam file="$(find delta_manipulator)/cfg/Kumar_vicon_config.yaml" />
  <node name="Kumar_msg_converter" pkg="delta_manipulator" type="Kumar_msg_converter.py" required="true" output="screen"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="transform_map2mocap" args="0 0 0 0 0 0 1 map mocap" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="transform_hex2base_link" args="0 0 0 0 0 0 1 hexacopter base_link" />

  <rosparam file="$(find delta_manipulator)/cfg/Hex_config.yaml" />
 
  <node name="Path_follower" pkg="delta_manipulator" type="Path_follower.py" required="true" output="screen"/>
  
  <node name="Stabilizer" pkg="delta_manipulator" type="Stabilisation.py" required="true" output="screen"/>
  <node name="Delta_inv_kinematics" pkg="delta_manipulator" type="Inverse_kinematics.py" required="true" output="screen"/>
  <node name="Force_kinematics" pkg="delta_manipulator" type="Force_kinematics.py" required="true" output="screen"/>
  <node name="Servo_writer" pkg="delta_manipulator" type="Servo_writer.py" required="true" output="screen"/>

</launch>