 <launch>

  <?ignore
    =========================================================
                        MavRos
    =========================================================
  ?>

  <!-- example launch script for PX4 based FCU's -->

  <arg name="fcu_url" default="/dev/ttyTHS2:921600" />
  <arg name="gcs_url" default="udp://@192.168.0.192" />
  <arg name="tgt_system" default="1" />
  <arg name="tgt_component" default="1" />
  <arg name="log_output" default="screen" />
  <!--arg name="fcu_protocol" default="v2.0" /-->
  <!--arg name="respawn_mavros" default="false" /-->

  <include file="$(find mavros)/launch/node.launch">

    <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
    <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />

    <arg name="fcu_url" value="$(arg fcu_url)" />
    <arg name="gcs_url" value="$(arg gcs_url)" />
    <arg name="tgt_system" value="$(arg tgt_system)" />
    <arg name="tgt_component" value="$(arg tgt_component)" />
    <arg name="log_output" value="$(arg log_output)" />
    <!--arg name="fcu_protocol" value="$(arg fcu_protocol)" /-->
    <!--arg name="respawn_mavros" default="$(arg respawn_mavros)" /-->
  </include>

  <param name="/mavros/conn/timesync_rate" value="0.0"/>

  <?ignore
    =========================================================
                           Vicon
    =========================================================
 ?>
  <!-- <rosparam file="$(find delta_manipulator)/cfg/Vicon_config.yaml" /> -->
  <arg name="object_name" default="hexacopter" />
  <node ns="$(arg object_name)" name="vrpn_client" type="ros_vrpn_client" pkg="ros_vrpn_client" output="screen">

  <!-- <node name="vrpn_client" pkg="ros_vrpn_client" type="ros_vrpn_client" required="true" output="screen"/> -->
    <param name="vrpn_server_ip" value="192.168.0.100" />
    <param name="vrpn_coordinate_system" value="vicon" />
    <param name="timestamping_system" value="ros" />
    <param name="object_name" value="$(arg object_name)" />
    <param name="verbose" value="true" />
    <param name="translational_estimator/kp" value="0.5" />
    <param name="translational_estimator/kv" value="0.5" />
    <param name="rotational_estimator/orientation_estimate_initial_covariance" value="100.0" />
    <param name="rotational_estimator/rate_estimate_initial_covariance" value="100.0" />
    <param name="rotational_estimator/orientation_process_covariance" value="0.000002" />
    <param name="rotational_estimator/rate_process_covariance" value="10.0" />
    <param name="rotational_estimator/orientation_measurementCovariance" value="0.001" />
    <param name="rotational_estimator/outlier_rejection_method" value="mahalanobis_distance" />
    <param name="rotational_estimator/outlier_rejection_mahalanobis_threshold" value="4.0" />
    <param name="rotational_estimator/outlier_rejection_subsequent_threshold_degrees" value="30.0" />
    <param name="rotational_estimator/outlier_rejection_subsequent_maximum_count" value="50.0" />
    <param name="rotational_estimator/output_minimal_quaternions" value="false" />
    <param name="rotational_estimator/output_minimal_quaternions" value="false" />

  </node>


  <node name="vicon_msg_converter" pkg="delta_manipulator" type="Vicon_msg_converter.py" required="true" output="screen"/>

</launch>
