<?xml version="1.0" encoding="UTF-8"?> 
<!-- Launch file for running the delta-arm only !-->
<launch>
  <rosparam file="$(find delta_manipulator)/cfg/Hex_delta_config.yaml" />

  <node name="joystick_input_node" pkg="joy" type="joy_node" required="true" output="screen"/>

  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" respawn = "false" output = "screen" args = "--perspective-file $(find delta_manipulator)/rqt/test.perspective"/>

  <node name="Delta_forward_kinematics" pkg="delta_manipulator" type="Forward_kinematics.py" required="true" output="screen"/>

</launch>