<?xml version="1.0" encoding="UTF-8"?> 
<!-- Launch file to be run on ground station PC-->
<launch>
  <rosparam file="$(find delta_manipulator)/cfg/Zagreb_config.yaml" />
  <node name="joystick_input_node" pkg="joy" type="joy_node" required="true" output="screen"/>
  <param name="robot_description" textfile="$(find delta_manipulator)/rviz/Hex.urdf" />
  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" respawn = "false" output = "screen" args = "--perspective-file $(find delta_manipulator)/rqt/test.perspective"/>
  <!-- <node name="Delta_forward_kinematics" pkg="delta_manipulator" type="Forward_kinematics.py" required="true" output="screen"/> -->
  <node name="Tooltip_path_generator" pkg="delta_manipulator" type="Tooltip_path_generator.py" required="true" output="screen"/>
  <node name="Hex_path_generator" pkg="delta_manipulator" type="Path_generator.py" required="true" output="screen"/>
</launch>