<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <rosparam file="$(find delta_manipulator)/cfg/Hex_config.yaml" />
<!-- TODO: replace tf base2platform with values read from servos, rewrite trajectory publisher, gazebo integration-->
  <node name="Trajectory_publisher" pkg="delta_manipulator" type="Stabilised_trajectory_publisher.py" required="true" output="screen"/>
  <node name="tf_broadcaster" pkg="delta_manipulator" type="tf_broadcaster.py" required="true" output="screen"/>
  <node name="Stabilizer" pkg="delta_manipulator" type="Stabilisation.py" required="true" output="screen"/>
  <node name="Delta_inv_kinematics" pkg="delta_manipulator" type="Inverse_kinematics.py" required="true" output="screen"/>

  <!-- <node name="Servo_writer" pkg="delta_manipulator" type="Servo_writer.py" required="true" output="screen"/> !-->
  
  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" respawn = "false" output = "screen" args = "--perspective-file $(find delta_manipulator)/rqt/test.perspective"/>/> 

</launch>
